{% extends 'layout.html' %}

{%block page-main%}
<h2>
	<span>Workspace: Test Project</span>
</h2>
<p>Espacio de trabajo para publicar todos los demos que se realicen. Para tener acceso a ellos tendras logearte, se ha utilizaso SocialLogin con Node.js, todo codigo podras encontrarlo en <a href="https://github.com/allenjoseph/workspace">GitHub</a>.</p>
<hr/>
<h2>
	<span>Chat: Online Message</span>
</h2>
<p>Pequeño chat utilizando express.io y mongoDB.</p>
<hr/>
<h2>
	<span>ToDo: Tasks to do</span>
</h2>
<p>Clasico ToDO utilzando backbone.js.</p>
<hr/>
{%endblock%}

{%block page-side%}
<div class="panel">
	<h5 class="text-left">Y EL CODIGO ???</h5>
	<p>
		Todo codigo, y demas proyectos interesantes, podras encontrarlo en <a href="https://github.com/allenjoseph/workspace">GitHub</a>.
	</p>
</div>
{%endblock%}
