{% extends 'layout.html' %}

{%block page-main%}
<h2>
	<span>Workspace: Test Project</span>
</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum unde voluptas eos perferendis debitis dicta tempore distinctio ipsam. Est inventore quos provident repellat assumenda repellendus voluptas itaque sequi eos sed.</p>
<hr/>
<h2>
	<span>Chat: Online Message</span>
</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum unde voluptas eos perferendis debitis dicta tempore distinctio ipsam. Est inventore quos provident repellat assumenda repellendus voluptas itaque sequi eos sed.</p>
<hr/>
<h2>
	<span>ToDo: Tasks to do</span>
</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum unde voluptas eos perferendis debitis dicta tempore distinctio ipsam. Est inventore quos provident repellat assumenda repellendus voluptas itaque sequi eos sed.</p>
<hr/>
{%endblock%}

{%block page-side%}
<div class="panel">
	<h5>Lorem ipsum dolor.</h5>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, eos, dolores beatae soluta quia et iure maiores molestiae voluptates sint ut esse eligendi eaque ab neque cupiditate eum minima pariatur.
	</p>
	<a href="#" class="small button">Go to Foundation Docs</a>          
</div>
{%endblock%}
